body{
    background-color: skyblue;
}
header{
    background-color: rgba(119, 90, 90, 0.4);
    /* position: fixed; */
    width: 30%;
    padding-left: 40px;
}

nav > ul >li{
    display: inline-block;
    padding: 10px 3px;
    font-size: 20px;
}

nav > ul > li > a{
    text-decoration: none;
    color: blueviolet;
}




.flag{
    margin: 1.66%;
    
    
}


p{
    margin: 1.66%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    position: relative;
}



#NETHERLAND{
    float: left;
    
    width: 30%;
    height:300px;
    
    background-color: white;
    position: relative;
}

#NETHERLAND:before{
    background-color: #AE1C28;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100px;
    
}

#NETHERLAND:after{
    background-color: #21468B;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100px;
    
}




/* -------------------------------- */

#AUSTRIA{
    float: left;
    
    width: 30%;
    height:300px;
    
    background-color: white;
    position: relative;
}

#AUSTRIA:before{
    background-color:#ed2939;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100px;
    
}

#AUSTRIA:after{
    background-color:#ed2939;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100px;
    
}

/* -------------------------------- */

#YEMEN{
    float: left;
    
    width: 30%;
    height:300px;
    
    background-color: white;
    position: relative;
}

#YEMEN:before{
    background-color:#ce1126;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100px;
    
}

#YEMEN:after{
    background-color:#000000;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100px;
   
}

/* -------------------------------- */

#BULGARIA{
    float: left;
    
    width: 30%;
    height:300px;
    
    background-color: #00966e;
    position: relative;
}

#BULGARIA:before{
    background-color:#ffffff;
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 100px;
    
}

#BULGARIA:after{
    background-color:#d62612;
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 100px;
    
}

/* -------------------------------- */

#COLOMBIA{
    float: left;
    width: 30%;
    height:300px;
    
    background-color: #003087;
    position: relative;
}

#COLOMBIA:before{
    background-color: #FFCD00;
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 150px;
    
}

#COLOMBIA:after{
    background-color:#C8102E;
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 75px;
    
}


/* -------------------------------- */

#UKRAINE{
    float: left;
    
    width: 30%;
    height:300px;
    
    background-color: #ffd500;
    position: relative;
}

#UKRAINE:before{
    background-color:#005bbb;
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 150px;
    
}



/* -------------------------------- */

#ESTONIA{
    float: left;
   
    width: 30%;
    height:300px;
    background-color: black;
    position: relative;
}

#ESTONIA:before{
    background-color:#0072ce;
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 100px;
    
}

#ESTONIA:after{
    background-color:white;
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 100px;
    
}

/* -------------------------------- */

#SIERRA_LIONNE:before{
    background-color:#1eb53a;
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 100px;
    
}

#SIERRA_LIONNE{
    float: left;
    
    width: 30%;
    height:300px;
    background-color:  #ffffff;
    position: relative;
}



#SIERRA_LIONNE:after{
    background-color:#0072c6;
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 100px;
    
}


/* -------------------------------- */

#GABON:before{
    background-color:#009E60;
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 100px;
    
}

#GABON{
    float: left;
    width: 30%;
    height:300px;
    background-color: #FCD116;
    position: relative;
}



#GABON:after{
    background-color:#3A75C4;
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 100px;
    
}


/* -------------------------------- */

#GERMAN:before{
    background-color:#000000;
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 100px;
    
}

#GERMAN{
    float: left;

    width: 30%;
    height:300px;
    background-color:  #dd0000;
    position: relative;
}



#GERMAN:after{
    background-color:#ffce00;
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 100px;
    
}

/* -------------------------------- */

#LITHUANIA:before{
    background-color:#FDB913;
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 100px;
    
}

#LITHUANIA{
    float: left;
   
    width: 30%;
    height:300px;
    background-color:  #006A44;
    position: relative;
}



#LITHUANIA:after{
    background-color:#C1272D;
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 100px;
    
}


/* -------------------------------- */

#LUXEMBERG:before{
    background-color:#F6343F;
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 100px;
    
}

#LUXEMBERG{
    float: left;
   
    width: 30%;
    height:300px;
    background-color:  #ffffff;
    position: relative;
}



#LUXEMBERG:after{
    background-color:#00A2E1;
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 100px;
    
}


/* @media (width)
.arrange{
    display: flex;
    flex-direction: column;
    
}       */

@media (max-width: 600px) {
    .arrange{
        display: flex;
        flex-direction: column;}
    
    header{
        background-color: rgba(119, 90, 90, 0.4);
        /* position: fixed; */
        width: 100%;
    }
  }